<h2>Edit my user infos</h2>
<form (ngSubmit)="submit()" *ngIf="profileForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="profileForm.name" name="name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="profileForm.email" name="email">
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </p>
</form>
<hr>
<h2>Edit my password</h2>
<form (ngSubmit)="savePassword()" *ngIf="passwordForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Old password</mat-label>
      <input matInput type="password" [(ngModel)]="passwordForm.oldPassword" name="oldPassword" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="me-3">
      <mat-label>New password</mat-label>
      <input matInput type="password" [(ngModel)]="passwordForm.newPassword" name="newPassword" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput type="password" [(ngModel)]="passwordForm.reNewPassword" name="newPassword" required>
    </mat-form-field>
  </p>
  <p class="text-danger" *ngIf="passwordForm.error">{{passwordForm.error}}</p>
  <p>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </p>
</form>
