<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="login()">
      <p>
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Email" required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <p>
        <a routerLink="/signup">Not a member? Sign up now</a>
      </p>
      <div *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
