<div fxLayout.gt-xs fxLayoutGap="20px">
  <div class="panel sidebar" fxLayout="column">
    <button mat-flat-button [routerLink]="this.userId ? '/profile/'+this.userId : '/profile' " routerLinkActive="mat-primary" [routerLinkActiveOptions]="{ exact: true }" >Profile</button>
    <button mat-flat-button [routerLink]="[{ outlets: { profile: ['registrations'] } }]" routerLinkActive="mat-primary">My registrations</button>
    <button mat-flat-button [routerLink]="[{ outlets: { profile: ['statistics'] } }]" routerLinkActive="mat-primary">Statistics</button>
  </div>
  <div class="panel" fxFlex="100">
    <router-outlet name="profile"></router-outlet>
  </div>
</div>
