<div class="panel">
  <div class="float-right" *ngIf="this.authService.isAdmin()">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openEditDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteTrainer()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
  <div fxLayout fxLayoutGap="20">
    <div>
      <img class="avatar" [src]="trainer.img ?? '/assets/img/trainer-man.jpg'" alt="Trainer">
      <form #uploadForm="ngForm" (ngSubmit)="upload()" enctype="multipart/form-data" *ngIf="this.authService.role > 1">
        <input #fileInput type="file" (change)="onChange($event)" name="file">
        <button mat-raised-button color="primary" type="submit">Upload</button>
      </form>
    </div>
    <div>
      <h1>{{trainer.name}}</h1>
      <p>{{trainer.description}}</p>
    </div>
  </div>
</div>

<div class="panel mt-5">
  <h1>Classes</h1>
  <classes-grid [items]="classes"></classes-grid>
</div>
