.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.card-banner {
  width: 100%;
  position: relative;
}

.card-banner > img.trainer-img {
  object-fit: cover;
  object-position: center;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 10% 10% 5% 10%;
}

mat-card {
  overflow: hidden;
}

.add-btn {
  margin-left: 10px;
  width: max-content;
  height: 56px;
}

a {
  text-decoration: none;
  color: inherit;
}
