.footer {
  background-color: #252a2f;
  color: #fff;
  padding: 20px 60px;
}

.sitemap {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sitemap a {
  color: #fff;
  text-decoration: none;
}
