<div class="footer">
  <div fxLayout.gt-md>
    <div fxFlex="50">
      <h3>Fitness</h3>
      <ul class="sitemap">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/classes">Classes</a></li>
        <li><a routerLink="/trainers">Trainers</a></li>
        <li><a routerLink="/signup">Sign up</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
    <div fxFlex="50">
      <img src="/assets/img/map.png" alt="Map" style="height: 150px;">
    </div>
  </div>
</div>

