.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.card-banner {
  width: 100%;
  position: relative;
}

.card-banner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-banner::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: .75rem .75rem 0 0;
  background: linear-gradient(to top, #252A2F 0%, transparent 50%);
}

.card-banner .bottom-icons {
  position: absolute;
  z-index: 3;
  height: 1.875rem;
  bottom: 1rem;
  left: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: white;
}

.card-banner .bottom-icons .card-logo {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  object-fit: cover;
  text-indent: -9999px;
}

a {
  text-decoration: none;
  color: inherit;
}

